.container_porsilas {
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 1000;
    
}
.navbar_container_init {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    animation: nav-reverse .5s forwards;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.navbar_container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    animation: nav .5s forwards;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar_container_init .navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    font-size: 2rem;
    padding: 12px;
    font-weight: 800;
    color: #000;
    letter-spacing: 0.1rem;
}

.navbar_container .navbar_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    font-size: 2rem;
    padding: 12px;
    font-weight: 800;
    color: #000;
    letter-spacing: 0.1rem;
}

.navbar_links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
}

.navbar_links ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: #000;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
    transition: all 0.5s ease;
}

a:hover {
    text-decoration: none;
    color: #fff;
}


.navbar_container_init .singUp  {
    text-decoration: none;
    display: flex;
    background: none;
    padding: 8px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: all 0.4s cubic-bezier( 0.84, 0.1, 0.52, 0.5 );
}

.navbar_container .singUp {
    display: flex;
    background: none;
    padding: 8px;
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    width: 100px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    transition: all 0.4s cubic-bezier( 0.84, 0.1, 0.52, 0.5 );
}

.navbar_container .singUp:hover {
    background-color: #000;
    color: #fff;
    transform: translateX( -3px ) translateY( -3px );
    box-shadow: 8px 8px 0px 0px rgba(190, 190, 190, 0.75);
}

.navbar_container_init .singUp:hover {
    background-color: #000;
    color: #fff;
    transform: translateX( -3px ) translateY( -3px );
    box-shadow: 8px 8px 0px 0px rgba(190, 190, 190, 0.75);
}

@keyframes nav {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(0.926) translateX(3.89%);
    }
}

@keyframes nav-reverse {
    0% {
        /* transform: scaleX(1); */
        transform: scaleX(0.926) translateX(3.89%);
    }
    100% {
        transform: scaleX(1);
    }
}


li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 10%;
    padding-left: 40%;
}

li:hover {
    color: #fff;
    background-color: #000;
}


/* responsive*/
.menu_responsive {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    background: rgb(206, 206, 206);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
    display: none;
}

.menu_responsive_click{
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    color: white;
    background: rgb(206, 206, 206);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: translateX(-650%);
    border: none;
}




@media screen and (max-width: 768px) {

    .menu_responsive {
        display: flex;
    }

    .navbar_links{
        position: absolute;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        top: 0;
        right: -100%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        box-shadow: 8px 8px 0px 0px rgba(190, 190, 190, 0.75);
        transition: all 0.5s ease;
    }

    .nav_responsive_active {
        list-style: none;
        position: absolute;
        width: 60%;
        height: 100vh;
        background-color: #fff;
        top: 0;
        right: 0%;
        
        display: flex;
        flex-direction: column;
        justify-content: start;
        /* align-items: center; */
        z-index: 1000;
        box-shadow: 8px 8px 0px 0px rgba(190, 190, 190, 0.75);
        transition: all 0.5s ease;
    }
    .nav_responsive_active ul {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        height: 100%;
        list-style: none;
    }


    .navbar_container_init {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        background-color: #fff;
        animation: none;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    }
    
    .navbar_container {
        width: 100%;
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        background-color: #fff;
        animation: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}